<div class="slideshow-container">

    <div class="mySlides fade">
        <img src="/images/home_shuffle/iowa.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/illinois.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/wisconsin.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/north_dakota.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/south_dakota.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/minnesota.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/indiana.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/michigan.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/missouri.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/nebraska.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/ohio.jpg">
    </div>

    <div class="mySlides fade">
        <img src="/images/home_shuffle/kansas.jpg">
    </div>

    <div class="state">
        <p></p>
    </div>

    <a class="prev" onclick="showSlides(0,-1)">&#10094;</a>
    <a class="next" onclick="showSlides(0,1)">&#10095;</a>

    <div class="dot-wrapper">
        <span class="dot" onclick="showSlide(1,0)"></span>
        <span class="dot" onclick="showSlide(2,0)"></span>
        <span class="dot" onclick="showSlide(3,0)"></span>
        <span class="dot" onclick="showSlide(4,0)"></span>
        <span class="dot" onclick="showSlide(5,0)"></span>
        <span class="dot" onclick="showSlide(6,0)"></span>
        <span class="dot" onclick="showSlide(7,0)"></span>
        <span class="dot" onclick="showSlide(8,0)"></span>
        <span class="dot" onclick="showSlide(9,0)"></span>
        <span class="dot" onclick="showSlide(10,0)"></span>
        <span class="dot" onclick="showSlide(11,0)"></span>
        <span class="dot" onclick="showSlide(12,0)"></span>
    </div>

</div>
<p class="page-caption">Photo from pixabay.com</p>

<script src="/js/carousel.js"></script>